body {
    text-align: center;
    background-color: rgb(247, 234, 211);
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(0, 179, 0);
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(255, 59, 242);
}
